@media (max-width: 1199px)
  .container
    max-width: 960px
  .slider
    max-width: 590px
  .swiper-container
    margin-right: 15px
    border-radius: 8px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px

  .footer
    &__input
      &-group
        flex-basis: 47%

@media ( max-width: 991px )
  .container, newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px

    &__search
      margin-left: 47px

    &-menu
      padding: 22px 0
      justify-content: space-around

      &__link
        font-size: 12px
        line-height: 15px

  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 59px
    &-info
      padding-bottom: 17px
      &__name
        margin-top: 0
      &__description
        margin-top: 3px
    &-gride
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      max-width: 100%
  .booking
    width: 340px
    height: 210px
    padding: 25px 22px
  .modal
    &__dialog
      &--visible
        padding: 33px 50px
    &__info
  .swiper-container
    margin-right: 0px

  .map
    width: 340px
    height: 210px

  .newsletter
    padding: 73px 0 73px 0
    &-wrapper
      max-width: 735px
      padding: 0 15px 0 18px
  .reviews
    padding: 5px 0 0px 0
    &__title
      font-size: 30px
      margin-bottom: 47px
    &-slider
      &__item
        max-width: 580px
      &__username
        margin-top: 10px
      &__text
        height: 135px
      &__button
        top: 50%
        &--prev
          left: 3px
        &--next
          right: 0
  .activities
    padding: 97px 0 48px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 256px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 47%
    &__logo
      grid-row: 1/2
      grid-column: span 2
      width: 99px
    &__title
      &--mt

        min-width: 247px
        grid-column: span 6
        margin-top: 10px
        margin-left: -39px
      &--mb-3
        margin-top: 21px
        margin-left: 0px

      &--mb-message
        padding-left: 0px
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
        padding-left: 9px

        padding-top: 18px
        margin-left: -61px
    &__catigories
      grid-row: 2/3
      grid-column: span 2
      padding-left: 0px
      padding-top: 9px
    &__ul
      &--aditional
        margin-left: -43px
        margin-top: -2px
    &__list
      grid-row: 2/3
      grid-column: span 2
      &--information
        padding-left: 18px
        padding-top: 9px
    &__legal
      grid-column: span 2
    &__aditional

    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
        max-width: 540px
    &__text
      margin-left: 1px
      margin-bottom: 22px
    &__item
      &--mb-2
        padding-left: 6px
      &--mb-email
        padding-left: 4px
    &__form
      padding-left: 0px
      padding-top: 2px
    &__input-block
      flex-wrap: wrap
  .disclaimer
    padding-left: 1px
    padding-top: 60px
    padding-right: 0
    &__ul
      padding-left: 0
    &__list
      padding-right: 6px

@media ( max-width: 767px )
  // sass:

  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px

  .container
  .navbar
    &--mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 100
    &__search,  &__user
      &--mobile
        &_hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &__bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 72px
      padding-top: 30px
      overflow: auto
      &--visible
        display: block
    &-menu
      padding: 16px 0
      flex-direction: column
      &__items:nth-child(3)
        margin-top: 37px
      &__items
        margin-bottom: 17px
      &__item
        margin-bottom: 20px
      &--mobile
        &--visible
          display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #ffffff
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 11px
        margin-bottom: 27px
        color: #ffffff
        font-size: 14px
        font-weight: 400
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0

    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0

  .hotel

    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
    &__button
      width: 100%
  .modal
    &__dialog
      &--visible
        padding: 33px 33px
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px 0 60px 0

  .card
    width: 48%
    height: 255px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__title
      &--mt
        min-width: 100%
        margin-left: 0
    &__ul
      &--aditional
        margin-left: 0
    &__input
      max-width: 100%
  .disclaimer
    padding-top: 30px
@media ( max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .modal
    &__dialog
      &--visible
        width: 60%
        padding: 20px 20px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
        padding-left: 0
    &__aditional
      grid-row: 3
      grid-column: 1
    &__catigories
      grid-row: 4
      grid-column: 1
    &__list
      grid-row: auto
      &--information
        padding-left: 0
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__message
      width: 100%
      height: 123px
  .disclaimer
    flex-direction: column
    align-items: start
    padding-top: 30px
    &__ul
      margin-bottom: 10px
@media  ( max-width: 480px )
  body
    padding-top: 71px
  .container
    max-width: 279px
  .hotel
    padding-bottom: 0
    padding-top: 7px
    &-info
      &__offer
        margin-top: 1px
    &-gride
      padding-top: 35px
    &-right
      min-height: 440px
    &-slider
      height: 179px
  .modal
    &__dialog
      &--visible
        width: 80%
        height: 80%
  .map
    &__iframe
      width: 100%
      height: 172px
      border-radius: 10px
  .navbar

    &__search
      margin-left: auto
      &--mobile
        &--visible
          width: 243px
          padding-top: 1px
          padding-bottom: 1px
    &-top
      padding: 24px 0px 30px 0

    &-menu
      display: flex
      flex-direction: column
      padding: 0px 0
      &__items:nth-child(3)
        margin-top: 37px
      &--mobile
        &--visible
      &__link
        font-size: 12px

      &__items
        margin-bottom: 17px

  .breadcrumb
    &-list
      padding: 18px 0 19px 0

  .slider
    min-height: 210px
  .newsletter
    padding: 58px 0 83px 0
    &-title
      margin-bottom: 33px
      font-size: 20px
      &__strong
        font-size: 30px
    &-wrapper
      padding: 0px 6px 0px 9px
  .subscribe
    &__input
      padding: 5px 75px 0px 19px
  .reviews
    height: 639px
    &__title
      font-size: 18px
      max-width: 245px
      line-height: 23px
      margin: 36px auto 42px
    &-slider
      &__text
        height: 281px
      &__button--prev
        margin-left: -90px
      &__button--next
        margin-left: -90px
        margin-right: -87px
  .activities
    padding: 44px 0 42px 0
    &-title
      font-size: 18px
      margin-bottom: 31px

  .card
    &:nth-child(2)
      order: 2
    &:nth-child(4)
      order: 3
    &:nth-child(3)
      margin-bottom: 28px
  .footer
    &-wrapper
      grid-row-gap: 26px
      grid-column-gap: 0
    &__logo
      width: 94px
    &__social
      &-network
        display: flex
        flex-direction: column
        min-height: 86px
        align-items: stretch
        padding-top: 15px
      &-links
        margin-top: 4px
        justify-content: start
    &__link
      margin-right: 12px
    &__list
      &--information
        grid-column: 1
        grid-row: 3
        padding-top: 2px
    &__catigories
      grid-column: 1
      grid-row: 5
      padding-top: 3px
    &__aditional
      grid-column: 1
      grid-row: 4
      &
        padding-top: 8px
    &__ul
      &--aditional
        padding-left: 0
        margin-top: 18px
    &__title
      margin: 0px 0 15px 0
      &--mb-4
        margin-bottom: 20px
      &--mb-3
        margin-top: 16px
      &--mb-message
        padding-top: 13px
        margin-bottom: 13px
        margin-top: 1px
    &__text
      margin-left: 0
      padding-top: 10px

    &__icon
      &-wrapper
        min-width: 25px
        padding-top: 5px
        padding-left: 0px
        margin-right: 5px
    &__item
      &--mb-2
        padding-left: 3px
      &--mb-email
        letter-spacing: 0.36px
        padding-top: 5px
        margin-left: -4px
        width: 255px
    &__input
      order: 1
    &__message
      order: 2
      margin-bottom: 15px
    &__button
      order: 4
      margin-top: 15px
    &__info
      order: 3
      flex-basis: 100%
  .disclaimer
    &__list
      padding-right: 1px

//  ховер эффекты
@media ( min-width: 992px )
  .search
    &__button
      &:hover
        background-color: $dark
  .booking
    &__button
      &:hover
        background-color: #f2f6fa
        color: #ec1f46
  .navbar
    &-top
      a
        &:hover
          -webkit-transform: scale(1.1,1.1)
          -webkit-transition-timing-function: ease-out
          -webkit-transition-duration: 250ms
          -moz-transform: scale(1.1,1.1)
          -moz-transition-timing-function: ease-out
          -moz-transition-duration: 250ms
    &-menu
      &__items
        &:hover
          background-color: #f2f6fa
          border-radius: 4px
      &__link
        &:hover
          color: $dark
  .subscribe
    &__button
      &:hover
        background-color: #f2f6fa
        color: #ec1f46
  .card
    &__button
      &:hover
        background-color: #f2f6fa
        color: #ec1f46
  .footer
    &__button
      &:hover
        background-color: #f2f6fa
        color: #ec1f46
    &__logo
      &:hover
        -webkit-transform: scale(1.1,1.1)
        -webkit-transition-timing-function: ease-out
        -webkit-transition-duration: 250ms
        -moz-transform: scale(1.1,1.1)
        -moz-transition-timing-function: ease-out
        -moz-transition-duration: 250ms

    &__social
      &-links
        img
          &:hover
            -webkit-transform: scale(1.5,1.5)
            -webkit-transition-timing-function: ease-out
            -webkit-transition-duration: 250ms
            -moz-transform: scale(1.5,1.5)
            -moz-transition-timing-function: ease-out
            -moz-transition-duration: 250ms
    &__item
      a
        &:hover
          background-color: #f2f6fa
          border-radius: 4px
          collor: $dark
      &--mb-email
        a
          &:hover
            background-color: #fff
            border-radius: 4px
            color: $dark
      &--mb-2
        a
          &:hover

            background-color: #fff
            border-radius: 4px
            color: $dark
  .disclaimer
    &__list
      a
        &:hover
          background-color: #fff
          border-radius: 4px
          color: $dark
  .modal
    &__button
      &:hover
        background-color: #f2f6fa
        color: $dark
