@media (max-width: 1199px)
  .container
    max-width: 960px
  .slider
    max-width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px

  .footer
    &__input
      flex-basis: 100%
@media ( max-width: 991px )
  .container, newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px

    &__search
      margin-left: 47px

    &-menu
      padding: 12px 0
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 59px
    &-info
      padding-bottom: 17px
      &__name
        margin-top: 0
      &__description
        margin-top: 3px
    &-gride
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      max-width: 100%
  .booking
    width: 340px
    height: 210px
    padding: 25px 22px
    &__info

  .map
    width: 340px
    height: 210px

  .newsletter
    padding: 73px 0 73px 0
    &-wrapper
      max-width: 735px
      padding: 0 15px 0 18px
  .reviews
    padding: 12px 0 0px 0
    &__title
      font-size: 30px
      margin-bottom: 47px
    &-slider
      &__item
        max-width: 580px
      &__username
        margin-top: 10px
      &__button
        top: 43%
        &--prev
          left: 3px
        &--next
          right: 0
  .activities
    padding: 44px 0 48px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 256px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 47%
    &__logo
      grid-row: 1/2
      grid-column: span 2
      width: 99px
    &__title

      &--mb-3
        margin-top: 21px
        margin-left: 0px

      &--mb-message
        padding-left: 0px
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
        padding-left: 9px

        padding-top: 18px
        margin-left: -61px
    &__catigories
      grid-row: 2/3
      grid-column: span 2
      padding-left: 0px
      padding-top: 9px
    &__ul
      &--aditional
        margin-left: -43px
        margin-top: -2px
    &__list
      grid-row: 2/3
      grid-column: span 2
      &--information
        padding-left: 18px
        padding-top: 9px
    &__legal
      grid-column: span 2
    &__aditional
      min-width: 247px
      grid-column: span 6
      margin-top: 10px
      margin-left: -39px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
        max-width: 540px
    &__text
      margin-left: 1px
    &__item
      &--mb-2
        padding-left: 6px
      &--mb-email
        padding-left: 4px
    &__form
      padding-left: 0px
      padding-top: 2px
  .disclaimer
    padding-left: 1px
    padding-top: 60px
    padding-right: 0
    &__ul
      padding-left: 0

@media ( max-width: 767px )
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #ffffff
      cursor: pointer

      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .stars
    flex-basis: auto
  .hotel
    padding-top: 0

    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0

  .hotel

    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
    &__button
      width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px 0 60px 0

  .card
    width: 48%
    height: 255px
  .footer
    &__input
      flex-basis: 100%
    &__aditional
      width: 100%
      margin-left: 0
    &__ul
      &--aditional
        margin-left: 0
    &__input
      max-width: 100%
  .disclaimer
    padding-top: 30px
@media ( max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
        padding-left: 0
    &__aditional
      grid-row: 3
      grid-column: 1
    &__catigories
      grid-row: 4
      grid-column: 1
    &__list
      grid-row: auto
      &--information
        padding-left: 0
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__message
      width: 100%
      height: 123px
  .disclaimer
    flex-direction: column
    align-items: start
    padding-top: 30px
    &__ul
      margin-bottom: 10px
@media  ( max-width: 480px )
  .container
    max-width: 279px
  .hotel
    padding-bottom: 0
    padding-top: 7px
    &-info
      &__offer
        margin-top: 1px
    &-gride
      padding-top: 35px
    &-right
      min-height: 440px
    &-slider
      height: 179px
  .map
    &__iframe
      width: 100%
      height: 172px
      border-radius: 10px
  .navbar

    &__search
      margin-left: auto
    &-top
      padding: 24px 0px 30px 0

    &__bottom

      display: none

    &-menu
      display: flex
      flex-direction: column
      padding: 10px 0
      &__link
        font-size: 12px
  .breadcrumb
    &-list
      padding: 18px 0 19px 0
  .user-bottom
    display: flex
    flex-direction: column
    align-items: center
    &__name
      margin-left: 0px
  .search-bottom
    padding-bottom: 20px
    display: flex
  .slider
    min-height: 210px
  .newsletter
    padding: 58px 0 83px 0
    &-title
      margin-bottom: 33px
      font-size: 20px
      &__strong
        font-size: 30px
    &-wrapper
      padding: 0px 6px 0px 9px
  .subscribe
    &__input
      padding: 5px 75px 0px 19px
  .reviews
    height: 639px
    &__title
      font-size: 18px
      max-width: 245px
      line-height: 23px
      margin: 29px auto 42px
    &-slider
      &__button--prev
        margin-left: -90px
      &__button--next
        margin-left: -90px
        margin-right: -87px
  .activities
    padding: 44px 0 42px 0
    &-title
      font-size: 18px
      margin-bottom: 31px

  .card
    &:nth-child(2)
      order: 2
    &:nth-child(4)
      order: 3
    &:nth-child(3)
      margin-bottom: 28px
  .footer
    &-wrapper
      grid-row-gap: 26px
    &__logo
      width: 94px
    &__social
      &-network
        display: flex
        flex-direction: column
        min-height: 86px
        align-items: stretch
      &-links
        margin-top: 7px
        justify-content: start
    &__link
      margin-right: 12px
    &__list
      &--information
        grid-column: 1
        grid-row: 3
        padding-top: 2px
    &__catigories
      grid-column: 1
      grid-row: 5
      padding-top: 6px
    &__aditional
      grid-column: 1
      grid-row: 4
    &__ul
      &--aditional
        padding-left: 0
        margin-top: 18px
    &__title
      margin: 0 0 15px 0
      &--mb-3
        margin-top: 16px
    &__text
      margin-left: 0
      padding-top: 12px
      letter-spacing: -1.02px
    &__icon
      &-wrapper
        min-width: 25px
        padding-top: 3px
        padding-left: 0px
    &__item
      &--mb-2
        padding-left: 3px

      &--mb-email
        padding-left: 1px
        padding-top: 5px
  .disclaimer
    &__list
      padding-right: 7px
@media  ( max-width: 320px )
  .navbar
    &__bottom
      // display: block !important
      padding-top: 22px
      padding-bottom: 68px
      max-width: 100%
      height: auto
